node_modules
.yarn
**/.pnp.cjs
**/.pnp.loader.mjs
.DS_Store

**/credentials.json
**/token.json
**/secrets.ts
**/.env.local
# this may be removed/not removed depending on github actions deployments
**/convex/_generated
.env

target/